.cart-open .header__dropdown-backdrop {
  visibility: visible;
  z-index: 20;
  opacity: 1;
}
.cart-open .header-desktop-nav {
  visibility: hidden;
  opacity: 0;
}
.cart-open .header__hamburger,
.cart-open .header__search-toggle {
  background-color: var(--off-white);
}
cart-drawer.active {
  visibility: visible;
  --translate-y: 0px;
  --translate-x: 0px;
  transform: translate(var(--translate-x), var(--translate-y))
    rotate(var(--rotate)) skew(var(--skew-x)) skewY(var(--skew-y))
    scaleX(var(--scale-x)) scaleY(var(--scale-y));
  opacity: 1;
}
.cart-item__quantity input::-webkit-outer-spin-button,
.cart-item__quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cart-item__quantity input[type="number"] {
  -moz-appearance: textfield;
}
